<div class="container-fluid">
  <div class="row" id="top">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="title">Chess Conversation Agent</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    
    <div class="col-md-5">
      <!-- Chessboard -->
      <div id="board"></div>

      <!-- Chessboard controls -->
      <button id="annyangButton" type="button" class="btn btn-default">Toggle Annyang</button>
    </div>

    <div class="col-md-5">
      <!-- Conversation board -->
      <h3>Conversation Board</h3>  
      <table id="conversationBoard" class="table">
      </table>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>